$header-height: 50px;

#fmi-metweb-windows {

  div.map-container {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: #f7f7f7;
  }

  div.metoclient-map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  div.fmi-metoclient-legend {
    position: absolute;
    left: 10px;
    max-height: 520px;
    top: 80px;
    background-color: #ffffff;
    z-index: 8;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  div.fmi-metoclient-spinner {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.0);
    z-index: 200;
  }

  div.legend figure {
    margin-left: 20px;
    float: left;
  }

  div.legendchooser {
    margin-left: 20px;
  }

  img.logo {
    position: absolute;
    bottom: 50px;
    right: 20px;
    z-index: 50;
  }

  button.ol-zoom-in, button.ol-zoom-out {
    color: #FFF;
    background-color: #000;
    opacity: 0.5;
    cursor: pointer;
  }

  button.ol-zoom-in:focus, button.ol-zoom-in:hover, button.ol-zoom-out:focus, button.ol-zoom-out:hover {
    color: #FFF;
    background-color: #60b3e1;
  }

  .custom-control {
    position: absolute;
    top: 60px;
    right: 0.5em;
    text-align: left;
  }

  .custom-control .panel {
    padding-right: 50px;
    border: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    display: none;
  }

  .custom-control.shown .panel {
    display: block;
  }

  .custom-control button {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #585858;
    border: none;
  }

  .custom-control button:focus, .custom-control button:hover {
    background-color: #686868;
  }

  .button {
    z-index: 1000000;
  }

  .menu-dots.light-theme {
    background-image: url("../img/light-window-menu-gray.png");
  }

  .menu-dots.light-theme:not(selected).hover {
    background-image: url("../img/light-window-menu-blue.png");
  }

  .lm_selected .menu-dots.light-theme:not(selected).hover {
    background-image: url("../img/light-window-menu-white.png");
  }

  .menu-dots {
    z-index: 50;
    position: relative;
    width: 50px;
    min-height: 40px;
    height: 100%;
    cursor: pointer;
    background: no-repeat center;
  }

  .goldenLayout {
    background: #ebecec;
  }

  header {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    z-index: 40;
    background: #eceded;
    span {
      line-height: $header-height;
      letter-spacing: 0.2px;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      color: #4a4a4a;
    }
    ul.metoclient-menu {
      width: 200px;
      margin: 0 0 0 -150px;
      left: 75px;
      top: 40px;
      &.visible-menu {
        top: 45px;
      }
    }
  }

}